/*@media screen and (min-device-aspect-ratio: 16/9){*/

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
  vertical-align: baseline; 
  font-family: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  border: 0; 
  } 
/* remember to define focus styles! */ 
:focus { 
  outline: 0; 
  } 

ol, ul { 
  list-style: none; 
  } 
/* tables still need cellspacing="0" in the markup */ 
table { 
  border-collapse: separate; 
  border-spacing: 0; 
  } 
caption, th, td { 
  font-weight: normal; 
  text-align: left; 
  } 
/* remove possible quote marks (") from <q> & <blockquote> */ 
blockquote:before, blockquote:after, q:before, q:after { 
  content: ""; 
  } 
blockquote, q { 
  quotes: "" ""; 
  } 

 @font-face {
    font-family: VivaldiD CL; /* Гарнитура шрифта */
    src: url(VIVADCL.ttf); /* Путь к файлу со шрифтом */
   }
     
html{ 
  background:linear-gradient(to bottom, rgb(0,102,204), rgb(255,204,0)) no-repeat center center fixed;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#567fc9', endColorstr='#fae95c'); /* для IE6-9 */
  background: -webkit-linear-gradient(top, bottom, rgb(0,102,204), rgb(255,204,0)); /* для webkit-браузеров */
  background: -moz-linear-gradient(top,  rgb(0,102,204), rgb(255,204,0)); /* для firefox 3.6+ */ 
  background: -o-linear-gradient(top,  rgb(0,102,204), rgb(255,204,0)); /* для Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(0,102,204), rgb(255,204,0)); /* для IE10+ */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.sidebar{
position:fixed;
height:52px;
width:55px;
background-repeat:no-repeat;
-webkit-transition: left 1s ease;
-moz-transition: left 1s ease;
-o-transition: left 1s ease;
transition: left 1s ease;
z-index:1;
opacity:0.8;
-khtml-opacity: 0.8;
-moz-opacity:0.8;
ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
filter: alpha(opacity=80);
}

#searchm:hover{
left:0px;
}

#mailb{
background-image:url("mailbg.png");
top:427px;
z-index:3;
}

#bigp{
height:100%;
background-image:url("lspblockg.png");
opacity:0.8;
filter: alpha(opacity=80)
-moz-opacity:0.8;
-khtml-opacity: 0.8;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
z-index:2;
background-repeat: repeat-y;
pointer-events: none;
}

#leftb{
width:28px;
background-image:url("lbg.png");
z-index:2;
position: fixed; 
bottom: -11px; 
}
#rightb{
width:28px;
background-image:url("rbg.png");
left:28px;
z-index:2;
position: fixed; 
bottom: -11px; 
}

#pcount{
background-image:url("pagecountg.png");
height:104px;
top:966px;
opacity:0.8;
-khtml-opacity: 0.8;
-moz-opacity:0.8;
ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
filter: alpha(opacity=80);
}

#upb{
background-image:url(upbg.png);
z-index:4;
top:914px;
}

#headers{
height:255px;
margin: 0 auto;
background-image:url("headers1.png");
background-repeat:no-repeat;
position:relative;
top:160px;
}

.cards{
position:relative;
width:322px;
height:402px;
background-repeat:no-repeat;
background-image: url("card.png");
top:140px;
float:left;
-webkit-transition: background 1s ease;
-moz-transition: background 1s ease;
-o-transition: background 1s ease;
transition: background 1s ease;
z-index:0;
}

.cards:hover{
background-image:url("bcard.png");
}

#wrapper{
width:1016px;
margin:0 auto;
position:relative;
top:-160px;
left:63px;

}

h3{
font-family: tahoma, 'tahoma';
font: 42pt "tahoma";
position:absolute;
z-index:10;
top:175px;
left:37%;
display:block;
width:500px;
color:#82934c;
text-shadow: black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px;
-webkit-transform: rotate(6deg);
-moz-transform: rotate(6deg);
-o-transform: rotate(6deg);
transform: rotate(6deg);
}
h2{
font-family: tahoma, 'tahoma';
font: 31pt "tahoma";
position:absolute;
z-index:1;
top:270px;
left:37%;
color:#82934c;
text-shadow: black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px;
-webkit-transform: rotate(11deg);
-moz-transform: rotate(11deg);
-o-transform: rotate(11deg);
transform: rotate(11deg);
}
#hbg{
background-image:url(hbg.png);
/*top:476px;*/
z-index:3;
}

p{
font-family: tahoma, 'tahoma';
font: 17pt "tahoma";
position:absolute;
z-index:10;
top:20px;
right:-70px;
display:block;
width:322px;
-webkit-transition: opacity 1s ease;
-moz-transition: opacity 1s ease;
-o-transition: opacity 1s ease;
transition: opacity 1s ease;
color:#82934c;
text-shadow: black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px;
}
@font-face {
	font-family: 'VIVADCL';
	src: url('VIVADCL.TTF');
	src: local('VIVADCL'), local('VIVADCL'), url('VIVADCL.TTF') format('truetype');
}
@keyframes anim{
0% {
	opacity:0;
	height:0;
	
	/*
	width:450px;
	height:503px;
	opacity:1;
	margin-left:-225px;
	margin-top:-251px;*/
}
50%{
	opacity:1;
	width:300px;
	height:335px;
	margin-left:-168px;
	margin-top:-150px;
}
70%{
	opacity:1;
	width:300px;
	height:335px;
	margin-left:-225px;
	margin-top:-251px;
}
100%{
	width:450px;
	height:503px;
	opacity:1;
	margin-left:-225px;
	margin-top:-251px;
}
}
@-moz-keyframes anim{
0% {
	opacity:0;
	height:0;
	
	/*
	width:450px;
	height:503px;
	opacity:1;
	margin-left:-225px;
	margin-top:-251px;*/
}
50%{
	opacity:1;
	width:300px;
	height:335px;
	margin-left:-168px;
	margin-top:-150px;
}
70%{
	opacity:1;
	width:300px;
	height:335px;
	margin-left:-225px;
	margin-top:-251px;
}
100%{
	width:450px;
	height:503px;
	opacity:1;
	margin-left:-225px;
	margin-top:-251px;
}
}
@-webkit-keyframes anim{
0% {
	opacity:0;
	height:0;
	
	/*
	width:450px;
	height:503px;
	opacity:1;
	margin-left:-225px;
	margin-top:-251px;*/
}
50%{
	opacity:1;
	width:300px;
	height:335px;
	margin-left:-168px;
	margin-top:-150px;
}
70%{
	opacity:1;
	width:300px;
	height:335px;
	margin-left:-225px;
	margin-top:-251px;
}
100%{
	width:450px;
	height:503px;
	opacity:1;
	margin-left:-225px;
	margin-top:-251px;
}
}
#logo{
	background-image: url(logo.png);
	background-repeat: no-repeat;
    background-size: 100%;
	width:300px;
	opacity:0;
	position:fixed;
	top:50%;
	left:50%;
	z-index:3;
	margin-left:-168px;
	margin-top:-150px;
	animation:anim;
	animation-name:anim;
	animation-duration:1s;
	animation-fill-mode: forwards;
	-webkit-animation:anim;
	-webkit-animation-name:anim;
	-webkit-animation-duration:2.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;
}
#speces{
	width:450px;
	height:503px;
	opacity:1;
	margin-left:-225px;
	margin-top:-251px;
	position:fixed;
	top:50%;
	left:50%;
	z-index:1;
}
@-webkit-keyframes specanim1{
	0% {
		opacity:0;
		-webkit-transform: rotate(0deg);
	}
	100%{
		opacity:1;
		-webkit-transform: rotate(-270deg);
	}
}
@-webkit-keyframes specanim2{
	0% {
		opacity:0;
		-webkit-transform: rotate(0deg);
	}
	100%{
		opacity:1;
		-webkit-transform: rotate(-236.25deg);
	}
}
@-webkit-keyframes specanim3{
	0% {
		opacity:0;
		-webkit-transform: rotate(0deg);
	}
	100%{
		opacity:1;
		-webkit-transform: rotate(-202.5deg);
	}
}
@-webkit-keyframes specanim4{
	0% {
		opacity:0;
		-webkit-transform: rotate(0deg);
	}
	100%{
		opacity:1;
		-webkit-transform: rotate(-168.75deg);
	}
}
@-webkit-keyframes specanim5{
	0% {
		opacity:0;
		-webkit-transform: rotate(0deg);
	}
	100%{
		opacity:1;
		-webkit-transform: rotate(-135deg);
	}
}
@-webkit-keyframes specanim6{
	0% {
		opacity:0;
		-webkit-transform: rotate(0deg);
	}
	100%{
		opacity:1;
		-webkit-transform: rotate(-101.25deg);
	}
}
@-webkit-keyframes specanim7{
	0% {
		opacity:0;
		-webkit-transform: rotate(0deg);
	}
	100%{
		opacity:1;
		-webkit-transform: rotate(-67.5deg);
	}
}
@-webkit-keyframes specanim8{
	0% {
		opacity:0;
		-webkit-transform: rotate(0deg);
	}
	100%{
		opacity:1;
		-webkit-transform: rotate(-33.75deg);
	}
}
@-webkit-keyframes specanim9{
	0% {
		opacity:0;
		-webkit-transform: rotate(0deg);
	}
	100%{
		opacity:1;
		-webkit-transform: rotate(0deg);
	}
}
.spec{
	background: rgb(220,197,128);
	border-radius: 25px;
	width:115px;
	height:35px;
	z-index:-1;
	box-shadow:0 0 4px black;
	color:white;
	text-shadow: 0 0 3px black;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}
.sp{
	position:fixed;
	
}
#spec1 .spec{
	-webkit-transform: rotate(-90deg);
	margin-top: 10px;
}
#spec2 .spec{
	-webkit-transform: rotate(-123.75deg);
	margin: 40px 0px 0px -40px;
}
#spec3 .spec{
	-webkit-transform: rotate(-157.5deg);
	margin: 85px 0 0 -70px;
}
#spec4 .spec{
	-webkit-transform: rotate(-191.25deg);
	margin: 120px 0 0 -80px;
}
#spec5 .spec{
	-webkit-transform: rotate(-225deg);
	margin: 15px 0px 0px 25px;
}
#spec6 .spec{
	-webkit-transform: rotate(-258.75deg);
	margin-top: -40px;
	margin-left: 75px;
}
#spec7 .spec{
	-webkit-transform: rotate(-292.5deg);
	margin-top: -30px;
	margin-left: 40px;
}
#spec8 .spec{
	-webkit-transform: rotate(-326.25deg);
}
#spec9 .spec{
	margin-top: 40px;
	margin-left: -30px;
}
#spec1{
	animation:specanim1;
	animation-name:specanim1;
	animation-duration:1s;
	animation-fill-mode: forwards;
	animation-delay:3s;
	-webkit-animation:specanim1;
	-webkit-animation-name:specanim1;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 3s;
	width:450px;
	height:450px;
	opacity:0;
}
#spec2{
	animation:specanim2;
	animation-name:specanim2;
	animation-duration:1s;
	animation-fill-mode: forwards;
	animation-delay:3.3s;
	-webkit-animation:specanim2;
	-webkit-animation-name:specanim2;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 3.3s;
	width:450px;
	height:450px;
	opacity:0;
}
#spec3{
	animation:specanim3;
	animation-name:specanim3;
	animation-duration:1s;
	animation-fill-mode: forwards;
	animation-delay:3.6s;
	-webkit-animation:specanim3;
	-webkit-animation-name:specanim3;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 3.6s;
	width:450px;
	height:450px;
	opacity:0;
}
#spec4{
	animation:specanim4;
	animation-name:specanim4;
	animation-duration:1s;
	animation-fill-mode: forwards;
	animation-delay:3.9s;
	-webkit-animation:specanim4;
	-webkit-animation-name:specanim4;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 3.9s;
	width:450px;
	height:450px;
	opacity:0;
}
#spec5{
	animation:specanim5;
	animation-name:specanim5;
	animation-duration:1s;
	animation-fill-mode: forwards;
	animation-delay:4.2s;
	-webkit-animation:specanim5;
	-webkit-animation-name:specanim5;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 4.2s;
	width:450px;
	height:450px;
	opacity:0;
}
#spec6{
	animation:specanim6;
	animation-name:specanim6;
	animation-duration:1s;
	animation-fill-mode: forwards;
	animation-delay:4.5s;
	-webkit-animation:specanim6;
	-webkit-animation-name:specanim6;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 4.5s;
	width:450px;
	height:450px;
	opacity:0;
}
#spec7{
	animation:specanim7;
	animation-name:specanim7;
	animation-duration:1s;
	animation-fill-mode: forwards;
	animation-delay:4.8s;
	-webkit-animation:specanim7;
	-webkit-animation-name:specanim7;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 4.8s;
	width:450px;
	height:450px;
	opacity:0;
}
#spec8{
	animation:specanim8;
	animation-name:specanim8;
	animation-duration:1s;
	animation-fill-mode: forwards;
	animation-delay:8.1s;
	-webkit-animation:specanim8;
	-webkit-animation-name:specanim8;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 5.1s;
	width:450px;
	height:450px;
	opacity:0;
}
#spec9{
	animation:specanim9;
	animation-name:specanim9;
	animation-duration:1s;
	animation-fill-mode: forwards;
	animation-delay:8.4s;
	-webkit-animation:specanim9;
	-webkit-animation-name:specanim9;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 5.4s;
	width:450px;
	height:450px;
	opacity:0;
}

h4{
	text-align:center;
	
}